body {
	background-color: #EEEEEE;
}
.title {
	margin: auto;
	margin-top: 30px;
	text-align: center;
}
.main {
	margin: auto;
	text-align: center;
	height: 300px;
	width: 750px;
	background-color: white;
	-webkit-box-shadow: 0 10px 6px -6px #777;
	-moz-box-shadow: 0 10px 6px -6px #777;
	box-shadow: 0 10px 6px -6px #777;
}
footer {
	position: absolute;
	bottom: 0;
	text-align: center;
}
